//- extends layout

//- block content
//-     h1= title
//-     -
//-         var Jewelry = [
//-             { "type": "Necklace", "material": "Gold", "price": 2000 },
//-             { "type": "Ring", "material": "Diamond", "price": 4000 },
//-             { "type": "Chain", "material": "Platinum", "price": 1500 }
//-         ]

//-     div(class="container-fluid")
//-         div(class="row")
//-             each item, index in results
//-                 div(class="col-sm-2", onclick=`buy(${index})`)
//-                     | #{item.type}, #{item.material}, #{item.price}$
//-                     script.
//-                         function buy(a) {
//-                             alert(`You purchased Item ${a + 1}`);
//-                         }
extends layout

block content
  h1= title
  -
    var results

  div(class="container mt-4")
    div(class="row")
      each item, index in results
        .col-sm-4.mb-4
          .card
            .card-body
              h5.card-title #{item.type}
              p.card-text Material: #{item.material}
              p.card-text Price: $#{item.price}
              button.btn.btn-primary(onclick=`buy(${index})`) Buy

  script.
    function buy(a) {
      alert(`You purchased Item ${a + 1}`);
    }


